## 1. 성별, 나이별

In [1]:
import numpy as np
import pandas as pd

co = pd.read_csv('./data/daily_Confirmed2.csv' , index_col = ['Date'])
de = pd.read_csv('./data/daily_Deceased.csv', index_col = ['Date'])

In [2]:
co

,Female,Male,0-9,10-,20-29,30-39,40-49,50-59,60-69,70-79,80-,Sum,daily_count
Date,,,,,,,,,,,,,
2020-03-01,2197,1329,27,137,1054,426,521,687,453,158,63,3526,595
2020-03-02,2621,1591,32,169,1235,506,633,834,530,192,81,4212,686
2020-03-03,3002,1810,34,204,1417,578,713,952,597,224,93,4812,600
2020-03-04,3332,1996,34,233,1575,631,790,1051,646,260,108,5328,516
2020-03-05,3617,2149,38,257,1727,659,847,1127,699,288,124,5766,438
2020-03-06,3939,2345,45,292,1877,693,889,1217,763,340,168,6284,518
2020-03-07,4245,2522,52,327,2028,727,941,1287,830,384,191,6767,483
2020-03-08,4440,2694,58,360,2133,760,975,1349,878,409,212,7134,367
2020-03-09,4583,2799,66,381,2190,779,1005,1391,916,438,216,7382,248
2020-03-10,4661,2852,67,393,2213,789,1030,1416,929,454,222,7513,131
2020-03-11,4808,2947,75,405,2238,804,1082,1472,960,483,236,7755,242
2020-03-12,4875,2994,76,412,2261,812,1101,1495,972,497,243,7869,114
2020-03-13,4936,3043,77,421,2274,823,1117,1523,985,506,253,7979,110
2020-03-14,5986,3100,81,424,2287,833,1133,1551,999,515,263,8086,107
2020-03-15,5026,3136,83,427,2301,842,1141,1568,1012,525,263,8162,76
2020-03-16,5067,3169,85,432,2313,849,1147,1585,1024,531,270,8236,74
2020-03-17,5120,3200,86,436,2330,856,1164,1602,1033,539,274,8320,84
2020-03-18,5173,3240,87,438,2342,873,1171,1615,1059,542,286,8413,93
2020-03-19,5269,3296,91,444,2358,886,1181,1642,1080,562,321,8565,152
2020-03-20,5322,3330,97,452,2365,893,1193,1656,1099,568,329,8652,87
2020-03-21,5412,3387,99,457,2380,900,1203,1672,1118,589,381,8799,147
2020-03-22,5467,3430,101,460,2396,909,1221,1691,1132,595,392,8897,98

In [3]:
de

,Female,Male,0-9,10-,20-29,30-39,40-49,50-59,60-69,70-79,80-,Sum
Date,,,,,,,,,,,,
2020-03-01,8,12,0,0,0,1,1,5,6,5,3,20
2020-03-02,9,13,0,0,0,1,1,5,6,6,3,22
2020-03-03,12,16,0,0,0,1,1,5,7,9,5,28
2020-03-04,12,20,0,0,0,1,1,5,7,12,6,32
2020-03-05,14,21,0,0,0,1,1,5,8,13,7,35
2020-03-06,17,25,0,0,0,1,1,5,11,14,10,42
2020-03-07,18,26,0,0,0,1,1,5,11,14,12,44
2020-03-08,21,29,0,0,0,1,1,5,11,18,14,50
2020-03-09,20,31,0,0,0,1,1,5,12,18,14,51
2020-03-10,21,33,0,0,0,1,1,5,13,19,15,54
2020-03-11,25,35,0,0,0,1,1,6,14,21,17,60
2020-03-12,28,38,0,0,0,1,1,6,14,24,20,66
2020-03-13,28,39,0,0,0,1,1,6,14,24,21,67
2020-03-14,31,41,0,0,0,1,1,6,14,27,23,72
2020-03-15,34,41,0,0,0,1,1,6,14,28,25,75
2020-03-16,34,41,0,0,0,1,1,6,14,28,25,75
2020-03-17,37,44,0,0,0,1,1,6,14,29,28,81
2020-03-18,39,45,0,0,0,1,1,6,16,29,31,84
2020-03-19,42,49,0,0,0,1,1,7,17,34,31,91
2020-03-20,43,51,0,0,0,1,1,7,17,35,33,94
2020-03-21,48,54,0,0,0,1,1,7,17,37,39,102
2020-03-22,49,55,0,0,0,1,1,7,17,37,41,104