## 1. 성별, 나이별

In [10]:
import numpy as np
import pandas as pd

co = pd.read_csv('./data/daily_Confirmed2.csv' , index_col = ['Date'])
de = pd.read_csv('./data/daily_Deceased.csv', index_col = ['Date'])

## - 데이터 형식

In [8]:
co.dtypes # 확진자 수

Female         int64
Male           int64
0-9            int64
10-            int64
20-29          int64
30-39          int64
40-49          int64
50-59          int64
60-69          int64
70-79          int64
80-            int64
Sum            int64
daily_count    int64
dtype: object

Female  - 남성
Male    - 성별
0-9     - 0~9세
10-     - 10~19세
20-29   - 20~29세
30-39   - 30~39세
40-49   - 40~49세
50-59   - 50~59세
60-69   - 60~69세
70-79   - 70~79세
80-     - 80 이상
Sum     - 총 합계

In [9]:
de.dtypes # 사망자 수

Female    int64
Male      int64
0-9       int64
10-       int64
20-29     int64
30-39     int64
40-49     int64
50-59     int64
60-69     int64
70-79     int64
80-       int64
Sum       int64
dtype: object

Female  - 남성
Male    - 성별
0-9     - 0~9세
10-     - 10~19세
20-29   - 20~29세
30-39   - 30~39세
40-49   - 40~49세
50-59   - 50~59세
60-69   - 60~69세
70-79   - 70~79세
80-     - 80 이상
Sum     - 총 합계